.product-container{
    height: 450px;
    width: 90%;
    overflow: hidden;
    position: relative;
   
 }
 .product-scroll{
     height: 350px;
     width:  100%;
     overflow-x: hidden;
     overflow-y: hidden;
     white-space: nowrap;
     position: relative;
     margin-left: 30px;
     margin-right:30px;
 }
 
 #corner-arrow-left{
    position: absolute;
    left: 0px;
    top: 45%;
    z-index: 2;
    height: 30px;
    width: 30px;
    cursor: pointer;
    
 }
 
 #corner-arrow-right{
     position: absolute;
     right: 0px;
     top: 45%;
     z-index: 2;
     height: 30px;
     width: 30px;
     cursor: pointer;
     
  }
 
  #corner-arrow-left img, #corner-arrow-right img{
     height: 100%;
     width: 100%;
  }
 
  @media only screen and (max-width: 720px) {
   .product-container{
      height: 250px;
      width: 90%;
      overflow: hidden;
      position: relative;
     
   }
   .product-scroll{
       height: 220px;
       width:  100%;
       overflow-x: hidden;
       overflow-y: hidden;
       white-space: nowrap;
       position: relative;
       margin-left: 30px;
       margin-right:30px;
   }

  }
  