p{
    padding: 100px;
    margin :50px;
}

#container{
    position: absolute;
    top: 20%;
    padding-left: 15%;
    width: 100%;
    box-sizing: border-box;

}

@media only screen and (max-width: 721px){
    #container{
        position: absolute;
        top: 25%;
        padding-left: 15%;
    
    }
    
}